@import '../../static/style/scss/_variables';

nav {
  flex-direction: row;
  font-family: $font-normal;
}

.navbar-title {
  font-family: $font-title;
  font-size: remVal(40px);
  flex-direction: row;
}

.navbar-routes {
  font-size: remVal(26px);
  align-items: flex-end;

  .nav-item {
    padding-bottom: 0;

    .nav-link {
      color: #000000;
      padding: 0;
      margin: 0 0 0 remVal(80px);
    }
    
    ::after{
      content: '';
      display: block;
      width: 0;
      height: 2.5px;
      background: #000000;
      transition: width .3s;
    }

    &.active ::after{
      content: '';
      display: block;
      width: 100%;
      height: 2.5px;
      background: #000000;
    }
  }

  .nav-item:hover {
    ::after{
      width: 100%;
    }
  }
}
