@import '../../static/style/scss/_variables';

.home-container{
  margin-top: remVal(40px);

  img.cat {
    // background-image: url('../../images/cat.jpg');
    width: remVal(410px);
    height: remVal(410px);
    object-fit: cover;
    object-position: 90% 0%;
  }
}