@import '../../static/style/scss/_variables.scss';

.projecthome-container{
  >.project-header{
    font-family: $font-lightItalic;
  }
  >img.nav-project-thumbnail{
    height: remVal(154px);
    width: remVal(154px);
  }
}