@import '../static/style/scss/_variables.scss';


.main-container{
  height: 100%;

  .transition-group{
    width: 100%;
  }
  section.switch-wrapper {
    position: absolute;
  }
  
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .main-container{
    padding:0 remVal(70px);
  }
}

// @media (min-width: 1400px) {
//   padding: 0 remVal(60px);
// }