@import '../static/style/scss/_variables.scss';

$marginPercentage: 75%;

@media (min-width: 1200px) {
  .container {
    // max-width: $marginPercentage;
    max-width: calc(100% - #{$main-container-margin});
  }
}

.main-container{
  min-height: 100%;
  padding: remVal(40px) 0 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // footer {
  //   justify-self: flex-end;
  // }
}