$remValue: 20px;

@function remVal($args) {
  @return $args / $remValue * 1rem;
}

$font-title: 'Segoe UI', sans-serif;
$font-normal: 'OpenSans_regular', sans-serif;
$font-light: 'OpenSans_light', sans-serif;
$font-lightItalic: 'OpenSans_lightItalic', sans-serif;
$font-semibold: 'OpenSans_semibold', sans-serif;
$font-bold: 'OpenSans_bold', sans-serif;
$font-boldItalic: 'OpenSans_boldItalic', sans-serif;

$light-grey: #c0c0c0;
$semi-black: #212529;
$black: #000000;

$navbar-line-width: remVal(2.5px);

$main-container-margin: remVal(350px);